@model ExamenNezter.Models.CiudadesModel

@{
    ViewData["Title"] = "Guardar";

    var RouteData = ViewContext.RouteData.Values["id"];
    int id = 0;
    ExamenNezter.Datos.CiudadesData data = new ExamenNezter.Datos.CiudadesData();
    ExamenNezter.Models.CiudadesModel modelo = new CiudadesModel();

    if (RouteData != null)
    {
        id = int.Parse(RouteData + "");
        modelo = data.ConsultarID(id);
    }
}

<h1>Guardar</h1>

<h4>Ciudades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Select", "Ciudades"))
        {
            <form asp-action="Nuevo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (modelo.Id != 0)
                {
                    <div class="form-group">
                        <label asp-for="Id" class="control-label">ID</label>
                        <input asp-for="Id" class="form-control" readonly/>
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Ciudad" class="control-label">Ciudad</label>
                    @if (modelo.Id != 0)
                    {
                        <input asp-for="Ciudad" class="form-control" value=@modelo.Ciudad />
                    }
                    else
                    {
                        <input asp-for="Ciudad" class="form-control" />
                    }
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Id_estado" class="control-label">Estado</label>

                    @Html.DropDownList("mySelect", null, "[Seleccionar país]", new { @class = "form-control" })

                    <span asp-validation-for="Id_estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        }
        </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
